.divTable {
  display: block;
  overflow-x: auto;
  color: #212529;
}

.divHeader {
  background-color: #dee2e6;
  width: max-content;
  font-weight: bold;
}

.divHeader .divRow .divCell {
  border: 1px solid white;
}
.divBody {
  width: max-content;
}
.divRow {
  height: inherit;
}
.divBody .divRow {
  border: 1px solid #dee2e6;
}
.divBody .divRow:hover {
  background-color: #9fcdff47;
}

.divCell {
  display: inline-block;
  padding: 5px;
  line-height: 1.5rem;
  border: 1px solid #dee2e6;
}
