.divTable {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  color: #212529;
}

.divHeader {
  background-color: #dee2e6;
  color: #212529;
  font-weight: bold;
  height: 2.5rem;
}

.divHeader .divRow .divCell {
  line-height: 2rem;
}

.divRow {
  display: block;
  height: inherit;
}
.divBody .divRow {
  border: 1px solid #dee2e6;
}
.divBody .divRow:hover {
  background-color: #9fcdff47;
}

.divCell {
  display: inline-block;
  padding: 2px;
  line-height: 1.5rem;
  border: 1px solid #dee2e6;
  width: 20%;
}
