<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Guid</th>
      <th scope="col">IsActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>a</td>
      <td>b</td>
      <td>@c</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>s</td>
      <td>d</td>
      <td>s</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>d</td>
      <td>f</td>
      <td>f</td>
    </tr>
  </tbody>
</table>
